<ngb-tabset #t="ngbTabset" (tabChange)="onTabChange($event)">
  <ngb-tab id="search" >
      <ng-template ngbTabTitle><b>Search</b></ng-template>
      <ng-template ngbTabContent>
        <br>
        <app-geocoder id="app-geocoder"></app-geocoder>
        <app-form id="app-form" [formResult]="formResult" [storeId]="storeId" [storetypes]="storetypes"></app-form>
      </ng-template>
  </ngb-tab>
  <ngb-tab id="filter">
    <ng-template ngbTabTitle><b>Filter</b></ng-template>
    <ng-template ngbTabContent>
      <br>
      <app-searchtypes id="app-searchtypes" [storetypes]="storetypes" ></app-searchtypes>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
<!--
  <button class="btn btn-outline-primary" (click)="t.select('tabset2')">Selected tab with "tabset2" id</button>
-->
