#email variables
MAILER_EMAIL_ID="AlessandroMarin80@gmail.com"
MAILER_PASSWORD="some password"
MAILER_SERVICE_PROVIDER="Gmail"
MAILER_HOST: "smtp.gmail.com"
MAILER_PORT: 465
#Optional variables Node.js backend
PORT=4000
HOST="localhost"
PROTOCOL='http'
MONGODB='mongodb://localhost:27017/stores'
MONGODBsecret='12345'
#Optional variables Angular frontend
NG_URL='http://localhost:4000'