<div class="container">
  <div #gmap class="map-container" style="width:1000px;height:500px"></div>
  <br>
  
  <div class="row">
    <div class="col-md-6">
      <form class="form-horizontal" novalidate="">
        <div class="mb-3">
          <label for="address">Full address</label>
          <div class="input-group">
            <input class="form-control" [(ngModel)]="search_string" id="address_string" name="address_string" placeholder="Address" type="text">
            <div class="invalid-feedback">
              Please enter the address.
            </div>
            <div class="input-group-append">
              <button type="submit" class="btn btn-primary" (click)="run_geocoding()" [disabled]="search_string === ''">Search</button>
              <button type="submit" class="btn btn-primary" (click)="geocode()" hidden>Search node-geocoder</button>
            </div>
          </div>
        </div>
      </form>
    </div>  
  </div>

  <!-- I am considering to move the search to its own component, as a sibling component of the map one. Now it is a child of the maps component. This works
  <br>
  <app-save (search)="run_geocoding($event)"></app-save>
  -->
  <br>
  <alert></alert>

<hr class="mb-4">
<app-form [formResult]="formResult"></app-form>
</div>
