<!--<div class="form-group">
  <label innerHTML={{label}} his></label>
  <input class="form-control" type={{type}}  name={{name}}>
</div>
-->
<div class="row">
  <div class="col-md-7 mb-3">
    <div class="form-group">
      <label>{{label}}</label>
      <input type={{type}} name={{name}} class="form-control"
       [formControl]="control">
      <!-- [(ngModel)]="username -->
    </div>
  </div>
</div>

<!--
<div class="form-control">
  <label>{{ label }}</label>
  <input type="text" [formControl]="control" />
</div>

THIS IS FROM FORM:
<div class="row">
  <div class="col-md-9 mb-3">
    <label for="address">Address</label>
    <input class="form-control" [(ngModel)]="formResult.address + ', ' + formResult.street_num" id="address" name='address' placeholder="" required="" type="text">
    <div class="invalid-feedback">
      Please enter the address.
    </div>
  </div>
</div>
-->