<div class="container">
  <div #gmap class="map-container" style="width:1000px;height:500px"></div>
  <br>
  
  <!--<app-geocoder id="app-geocoder"></app-geocoder>
   I am considering to move the search to a sibling component of the Map component. Now the search is in Geocoder component, which is child of Maps. The following uses an emitter and works when you restore the callbacks in Maps
  <app-save (search)="run_geocoding($event)"></app-save>
  -->
  
  <!--
    <button type="submit" (click)="test()">test</button>
  -->
  <!--
  <p *ngIf="searchResult !== undefined">searchResult {{searchResult.address}}</p>
  <p *ngIf="formResult !== undefined">formResult {{formResult.address}}</p>
  -->
  <div class="input-group-append">
    <alert></alert>
  </div>

  <app-tabset id="app-tabset" [storetypes]="storetypes" [storeId]="storeId" [formResult]="formResult" ></app-tabset>
  
</div>
