<div class="container">    
  <div class="row">
    <div class="col-md-10 order-md-1">
      <h2 class="page-header">Login</h2>
        <form (ngSubmit)="onLoginSubmit()">
          <div class="row">
            <div class="col-md-7 mb-3">
              <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" [(ngModel)]="username" name="username">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7 mb-3">
              <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" [(ngModel)]="password" name="password">
              </div>
            </div>
          </div>
          <input type="submit" value="Login" class="btn btn-primary">
        </form>
        <br>
        <div class="input-group-append">
          <alert></alert>
        </div>
      </div>
    </div>
  </div>
        