<div class="row">
  <div class="col-md-6">
    <form class="form-horizontal" novalidate="">
      <div class="mb-3">
        <label for="address">Full address (in save component)</label>
        <div class="input-group">
          <input class="form-control" [(ngModel)]="address_string" id="address_string" name="address_string" placeholder="Address" type="text">
          <div class="invalid-feedback">
            Please enter the address.
          </div>
          <div class="input-group-append">
            <button type="submit" class="btn btn-dark" (click)="findLocationTest()">Search</button>
          </div>
        </div>
      </div>
    </form>
  </div>  
</div>
