<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <div class="text-center">
      <h1 class="display-4 font-weight-normal">Zero Waste Locator</h1>
    </div>
    <div class="text-left">
      <p class="lead font-weight-normal">
        Welcome to Zero Waste Locator, a site to find shops selling Zero Waste products.
      </p>
      <p class="lead font-weight-normal">You can use the filter tab to look up Zero Waste stores present in the database. 
        Because using the Google Maps API costs me some money, I kindly ask to register. 
        If you do, you will be able to use the search functionality on the Google Map displayed on the <a href="/map">Home page</a></p>
    </div>
    <div class="text-center">
      <a class="btn btn-dark text-white mr-1" *ngIf="authService.isTokenExp()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/register']">Register</a>
      <a class="btn btn-dark text-white mr-1" *ngIf="authService.isTokenExp()" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/login']">Login</a>
      <a class="btn btn-dark text-white mr-1" href="/">Home Page</a>
    </div>
  </div>
  <div class="product-device box-shadow d-none d-md-block"></div>
  <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>


<div class="container">
  <!--Accordion wrapper-->
  
  <div class="accordion md-accordion accordion-1" id="accordion" role="tablist">
    <app-card  [label]="'Aim of this app'" img="https://img.icons8.com/color/1600/google-maps.png" [text]="'The aim of this app is to let users search and log stores selling <a href=https://www.goingzerowaste.com/ target=_blank>Zero Waste</a>  or Less Waste products. This app uses Google Maps to search for stores, and will allow you to save them together with their products so that you or other users can look them up.'"></app-card>
    
    <app-card  [label]="'Technical details'" img="https://upload.wikimedia.org/wikipedia/commons/b/b1/Meanstack-624x250.jpg" [text]="'This is a <a href=mean.io target=_blank>MEAN</a> (
      <a href=https://www.mongodb.com/ target=_blank>MongoDB</a>, 
      <a href=https://expressjs.com/ target=_blank>Express</a>, 
      <a href=https://angular.io/ target=_blank>Angular CLI 7.0.6</a>, 
      <a href=https://nodejs.org target=_blank>Node.js</a>) app using the 
      <a href=https://cloud.google.com/maps-platform/ target=_blank>Google Maps API</a> to show store locations on a google map. 
    On the back-end a server is based on Node.js/Express server. <a href=https://mongoosejs.com/ target=_blank>Mongoose ODM</a> is used to connect Node.js and the MongoDB database. It provides a schema based solution to organize models and running CRUD operations. <a href=https://jwt.io/ target=_blank>JSON web tokens</a> handle user authentication and identity management. The front-end was built using Angular-CLI 7, <a href=https://getbootstrap.com/ target=_blank>Bootstrap</a>, and <a href=https://ng-bootstrap.github.io target=_blank>Angular Bootstrap</a>. The code is on my <a href=https://github.com/aless80/gmaps-ng7 target=_blank>GitHub page</a>.'"></app-card>
    <!--
      <span><a href=\"https://github.com/aless80/gmaps-ng7\" target=\"_blank\">gmaps-ng7</a></span>
    -->
    
    <app-card  [label]="'Zero Waste'" img="https://www.lrsrecycles.com/wp-content/uploads/2017/10/Zero-Waste.png" [text]="'<a href=https://www.goingzerowaste.com/ target=_blank> Zero Waste</a> is a lifestyle philosophy that encourages the redesign of resource life cycles so that all products are reused. The goal is for no trash to be sent to landfills, incinerators, or the ocean. Zero Waste is for me about reducing consumption, in particular of plastic products'"></app-card>

    
    
  </div>

<!--
  <a class="nav-link" href="https://github.com/aless80/gmaps-ng7" target="_blank">GitHub <span class="sr-only">(current)</span></a>
        <li class="nav-item">
        <a
          class="nav-link"
          href="https://angular.io/"
          target="_blank"
          >angular.io</a
        >
      
        <a
          class="nav-link"
          href="https://developers.google.com/maps/documentation/geocoding/start"
          target="_blank"
          >Google Maps docs</a
        >
      
-->

</div>