<!--fill is if one star is full-->
<ng-template #t let-fill="fill" let-index="index">
  
  <span 
    class="star" 
    [class.full]="fill === 100"
  >
    <span class="half" 
      [class.fullrated]="user_rating" 
      [style.width.%]="fill" 
      (click)="setRating(index+1)"
      >&#9733;
    </span>
    &#9733;
  </span>
</ng-template>

<p>
  <ngb-rating 
    id="ngb-rating" 
    [starTemplate]="t" 
    [rate]="rating.total/rating.count" 
    (hover)="hovered=$event" 
    (leave)="hovered=0" 
    [readonly]="!(!this.authService.isTokenExp() && this.storeId)" 
    max="5">
  </ngb-rating>
  
  
  <b *ngIf="rating.count==1; else goTemplate">({{rating.total}} stars, 1 rating)</b>
  <ng-template #goTemplate>
    <b>({{rating.total/rating.count | number : '1.1-1'}} stars, {{rating.count}} ratings)</b>
  </ng-template>
</p>
